<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="DjangoViaFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\SwitchInformationRepo\venv\Scripts\python.exe|C:\inetpub\wwwroot\SwitchInformationRepo\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
		</handlers>

		<httpErrors errorMode="Detailed" />
		<asp scriptErrorSentToBrowser="true" />
	</system.webServer>
	<appSettings>
	  <add key="WSGI_HANDLER" value="switchinformationcfg.wsgi.application" />
  	  <add key="DJANGO_SETTINGS_MODULE" value="switchinformationcfg.settings" />
	  <add key="PYTHONPATH" value="C:\inetpub\wwwroot\SwitchInformationRepo" />
	</appSettings>
</configuration>